.root {
  display: flex;
  padding: 10px;
  flex-direction: row;
  border: 1px solid #dcdcdc;
  justify-content: space-between;
}
.info {
  display: flex;
  flex-direction: column;
}

.user {
  font-weight: 700;
  padding-bottom: 10px;
}
.text {
}
.rating {
}
.rate {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Нужно убрать отсюда стили*/
.starComponent {
  max-width: 20px;
  max-height: 20px;
}
.starComponent:hover {
  fill: #ffbe00;
}
.star {
  width: 20px;
  height: 20px;
}
