.root {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.review:not(:last-child) {
  margin-bottom: 10px;
}
.review:last-child {
  margin-bottom: 30px;
}
/*Пишем только внешние стили для компонентов */
