/* Делаем из CSS модуль, теперь его нужно импортировать в jsx как объект
  Все классы переназываются уникально, поэтому не происходит перезапись селекторов
*/
.container {
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.menu {
  margin: 10px 0;
}
.reviews {
}
