.stars {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 100%;
  padding-left: 10px;
}
.star {
  display: flex;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.root {
  display: flex;
  flex-direction: row;
}

.rating {
  display: flex;
  align-items: center;
}
